
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #000000f3;
}

.nittetext{
    
	background: linear-gradient(90deg, #997adb, #8c5bdc, #00fff2, #9c5ee8,#00ffb7,#997adb);
    background-size: 400%;
    
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    animation: animate 20s linear infinite
}
@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.nittetext1{
    
	background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff,#ff00c4,#ff0000);
    background-size: 1000%;
    
	/* -webkit-text-fill-color: transparent; */
    animation: animate 20s linear infinite
}@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 300%;
    }
}

